/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-weight: 600;
  src: url("./font/Roboto-Regular.ttf") format("woff2");
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-weight: 600;
  src: url("./font/Roboto-Bold.ttf") format("woff2");
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-weight: 600;
  src: url("./font/Roboto-Black.ttf") format("woff2");
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-weight: 600;
  src: url("./font/Roboto-Medium.ttf") format("woff2");
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-weight: 600;
  src: url("./font/Roboto-Light.ttf") format("woff2");
}
// /* cyrillic-ext */
// @font-face {
//     font-family: "Roboto";
//     font-weight: 700;
//     src: url("./font/Roboto-Regular.ttf") format("woff2");
//   }
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("./font/Roboto-Bold.ttf") format("woff2");
}
// /* cyrillic-ext */
// @font-face {
//   font-family: "Roboto";
//   font-weight: 700;
//   src: url("./font/Roboto-Black.ttf") format("woff2");
// }
// /* cyrillic-ext */
// @font-face {
//   font-family: "Roboto";
//   font-weight: 700;
//   src: url("./font/Roboto-Medium.ttf") format("woff2");
// }
// /* cyrillic-ext */
// @font-face {
//   font-family: "Roboto";
//   font-weight: 700;
//   src: url("./font/Roboto-Light.ttf") format("woff2");
// }
/* cyrillic-ext */
// @font-face {
//   font-family: "Roboto";
//   font-weight: 400;
//   src: url("./font/Roboto-Bold.ttf") format("woff2");
// }
// /* cyrillic-ext */
// @font-face {
//   font-family: "Roboto";
//   font-weight: 400;
//   src: url("./font/Roboto-Black.ttf") format("woff2");
// }
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("./font/Roboto-Regular.ttf") format("woff2");
}
// /* cyrillic-ext */
// @font-face {
//   font-family: "Roboto";
//   font-weight: 400;
//   src: url("./font/Roboto-Medium.ttf") format("woff2");
// }
// /* cyrillic-ext */
// @font-face {
//   font-family: "Roboto";
//   font-weight: 400;
//   src: url("./font/Roboto-Light.ttf") format("woff2");
// }
