<article>
  <section
    class="flex pt-[200px] justify-center 1500px:scale-[1.3]"
    title="general-medical"
  >
    <div class="max-w-[1170px] flex flex-wrap">
      <div
        class="w-full 900px:w-1/2 relative" id="picture-section-experience"
        [@fadeInUpTrigger]="{ value: is_visible_picture_experience, params: { delay: 0.2 } }"
      >
        <img src="./assets/image/section-clinic/about1.png" class="w-full" />

        <div class="general-medical-exp-box">
          <h2>+30</h2>
          <span>Years Experience</span>
        </div>
      </div>
      <div class="w-2/2 900px:w-1/2">
        <div
          class="flex flex-col ps-4" id="paragraph-section-experience"
          [@fadeInUpTrigger]="{ value: is_visible_paragraph_experience, params: { delay: 0.4 } }"
        >
          <div>
            <span class="general-medical-title"
              >Medical &amp; General Care!</span
            >
            <h2 class="general-medical-sup-title">
              Surprise your body<br />
              with extra care.
            </h2>

            <p class="general-medical-paragraph mb-[15px]">
              We provide the most full medical services, so every person could
              have the pportunity o receive qualitative medical help.
            </p>
            <p class="general-medical-paragraph mt-[29px] mb-[15px]">
              Our Clinic has grown to provide a world class facility for the
              treatment of tooth loss, dental cosmetics and bore advanced
              restorative dentistry. We are among the most qualified implant
              providers in the AUS with over 30 years of uality training and
              experience.
            </p>
          </div>

          <div class="flex flex-wrap">
            <div class="flex gap-5 450px:w-1/2 w-full mb-10">
              <div class="icon">
                <img src="./assets/image/section-clinic/product.svg" alt="" />
              </div>
              <h4 class="general-medical-title-icon">
                Infection<br />
                Prevention
              </h4>
            </div>
            <div class="flex gap-5 450px:w-1/2 w-full mb-10">
              <div class="icon">
                <img src="./assets/image/section-clinic/phone.svg" alt="" />
              </div>
              <h4 class="general-medical-title-icon">
                Inpatient<br />
                Services
              </h4>
            </div>
          </div>
          <a
            href="#"
            class="text-[#fff] text-[22px] transition-all duration-700 w-fit bg-[#07CCEC] font-bold h-[51px] leading-[51px] px-[30px] rounded-full hover:bg-[#000000]"
            >Learn More</a
          >
        </div>
      </div>
    </div>
  </section>
</article>
