.general-medical-title {
  font-family: var(--subtitle-font);
  color: var(--theme-color);
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  display: inline-block;
  margin-bottom: 10px;
}
.general-medical-sup-title {
  color: var(--title-color);
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
  margin-bottom: 12px;
}
.general-medical-paragraph {
  color: #666;
  line-height: 30px;
  font-family: var(--body-font);
}
.general-medical-title-icon {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  margin-left: 21px;
}
.general-medical-exp-box {
  position: absolute;
  bottom: 71px;
  right: 0px;
  width: 200px;
  border-radius: 12px;
  background: var(--title-color);
  text-align: center;
  animation: moveUpDown 6s ease-in-out infinite;
  padding: 14px 0 12px;
}
.general-medical-exp-box h2 {
  font-family: var(--body-font);
  color: var(--white-color);
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 1px;
}
.general-medical-exp-box span {
  color: var(--white-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  display: inline-block;
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0px);
  }
}
.about-medicals-services {
  position: relative;
  &:before {
    content: "";
    background-image: url(/assets/image/section-clinic/about-bg-2.png);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
  }
}
.carousel-draggable {
  display: flex;
  width: max-content;
  overflow: hidden;
  > div.services-carousel-card{
    padding: 0px 12px;
    > .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #f5f5f5;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.07);
    height: 384px;
  }
}
}
