<article>
  <section
    class="flex pt-[200px] mb-[130px] justify-center"
    title="general-medical-experience"
  >
    <div class="max-w-[1170px] flex flex-wrap">
      <div
        class="w-full 900px:w-1/2 relative"
        id="picture-section-experience"
        [@fadeInUpTrigger]="{
          value: is_visible_picture_experience,
          params: { delay: 0.2 }
        }"
      >
        <img src="./assets/image/section-clinic/about1.png" class="w-full" />

        <div class="general-medical-exp-box">
          <h2>+30</h2>
          <span>Years Experience</span>
        </div>
      </div>
      <div class="w-2/2 900px:w-1/2">
        <div
          class="flex flex-col ps-4"
          id="paragraph-section-experience"
          [@fadeInUpTrigger]="{
            value: is_visible_paragraph_experience,
            params: { delay: 0.4 }
          }"
        >
          <div>
            <span class="general-medical-title"
              >Medical &amp; General Care!</span
            >
            <h2 class="general-medical-sup-title">
              Surprise your body<br />
              with extra care.
            </h2>

            <p class="general-medical-paragraph mb-[15px]">
              We provide the most full medical services, so every person could
              have the pportunity o receive qualitative medical help.
            </p>
            <p class="general-medical-paragraph mt-[29px] mb-[15px]">
              Our Clinic has grown to provide a world class facility for the
              treatment of tooth loss, dental cosmetics and bore advanced
              restorative dentistry. We are among the most qualified implant
              providers in the AUS with over 30 years of uality training and
              experience.
            </p>
          </div>

          <div class="flex flex-wrap">
            <div class="flex gap-5 450px:w-1/2 w-full mb-10">
              <div class="icon">
                <img src="./assets/image/section-clinic/product.svg" alt="" />
              </div>
              <h4 class="general-medical-title-icon">
                Infection<br />
                Prevention
              </h4>
            </div>
            <div class="flex gap-5 450px:w-1/2 w-full mb-10">
              <div class="icon">
                <img src="./assets/image/section-clinic/phone.svg" alt="" />
              </div>
              <h4 class="general-medical-title-icon">
                Inpatient<br />
                Services
              </h4>
            </div>
          </div>
          <a
            href="#"
            class="text-[#fff] text-[22px] transition-all duration-700 w-fit bg-[#07CCEC] font-bold h-[51px] leading-[51px] px-[30px] rounded-full hover:bg-[#000000]"
            >Learn More</a
          >
        </div>
      </div>
    </div>
  </section>
  <section
    class="about-medicals-services py-[130px] overflow-hidden"
    title="info-about-medicals"
  >
    <div class="container-style7">
      <div
        class="title-area-three text-center wow fadeInUp animated"
        data-wow-delay="400ms"
        style="visibility: visible; animation-delay: 400ms; animation-name: g"
      >
        <span class="general-medical-title">Our Services</span>
        <h2 class="general-medical-sup-title">Medical &amp; General Care!</h2>
        <p class="general-medical-paragraph">
          Proactively revolutionize granular customer service after pandemic
          internal or "organic" sources<br />
          istinctively impact proactive human
        </p>
      </div>
    </div>
    <div title="medical-services-carousel" id="medical-services-carousel"
    (mousedown)="mouseDownInSlides($event)" (mouseup)="mouseUp($event)" (mousemove)="mouseMove($event)" class="carousel-draggable">
      @for (item of carousel; track $index) {
      <div class="services-carousel-card">
        <div class="card flex flex-wrap">
          <div class="md:w-1/2 w-2/2 h-full">

          </div>
          <div class="md:w-1/2 w-2/2 h-full relative">
            <img [src]="item.image_url"  class="h-full w-full pointer-events-none"/>
            <img [src]="item.icon_url" class="absolute bottom-[7%] left-[19%] pointer-events-none"/>
          </div>
        </div>
      </div>
      }
    </div>
  </section>
</article>
