.team-clinic{
  padding: 130px 100px;
  position: relative;
}
.team-clinic::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 566.876px;
  height: 100%;
  background-image: url("/assets/image/why-clinic/pattern3-2.png");
  z-index: -1;
}
.team-clinic-body{
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;
}
.team-clinic-content{
  display: flex;
  flex-direction: column;
}
.team-card-three{
  position: relative;
  background-color: var(--white-color);
  border-radius: 30px;
  z-index: 2;
}
.team-card-three::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0px;
  width: 100%;
  height: 388px;
  border: 1px solid #EEE;
  border-radius: 0 0 30px 30px;
  z-index: -1;
}
