<section class="team-clinic">
  <div class="team-clinic-body">
    <div class="team-clinic-content">
      <span class="title-area-team-clinic">
      <p class="sub-title2">Meet Our Team</p>
      <h2 class="title1 text-[48px] text-center">Certified and experienced <br>doctors in our clinic </h2>
    </span>
    </div>

    <div class="row">
      <!-- Team block -->
      <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp animated" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: g;">
          <div class="team-card-three">
              <div class="team-img-three">
                  <img src="assets/img/team/team2-2.png" alt="">
              </div>
              <div class="info-box">
                  <h4 class="name"><a href="#">Justin Beckham</a></h4>
                  <span class="designation">Cardiology Specialist</span>
                  <span class="share-icon-three fa fa-share-alt"></span>
                  <div class="social-links-three">
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-pinterest-p"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
              </div>
          </div>
      </div>
      <!-- Team block -->
      <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp animated" data-wow-delay="500ms" style="visibility: visible; animation-delay: 500ms; animation-name: g;">
          <div class="team-card-three">
              <div class="team-img-three">
                  <img src="assets/img/team/team2-3.png" alt="">
              </div>
              <div class="info-box">
                  <h4 class="name"><a href="#">Edward Willey</a></h4>
                  <span class="designation">General Doctor</span>
                  <span class="share-icon-three fa fa-share-alt"></span>
                  <div class="social-links-three">
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-pinterest-p"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
              </div>
          </div>
      </div>
      <!-- Team block -->
      <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp animated" data-wow-delay="600ms" style="visibility: visible; animation-delay: 600ms; animation-name: g;">
          <div class="team-card-three">
              <div class="team-img-three">
                  <img src="assets/img/team/team2-4.png" alt="">
              </div>
              <div class="info-box">
                  <h4 class="name"><a href="#">Jennifer Winds</a></h4>
                  <span class="designation">Neurology Specialist</span>
                  <span class="share-icon-three fa fa-share-alt"></span>
                  <div class="social-links-three">
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-pinterest-p"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
              </div>
          </div>
      </div>
      <!-- Team block -->
      <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp animated" data-wow-delay="700ms" style="visibility: visible; animation-delay: 700ms; animation-name: g;">
          <div class="team-card-three">
              <div class="team-img-three">
                  <img src="assets/img/team/team2-5.png" alt="">
              </div>
              <div class="info-box">
                  <h4 class="name"><a href="#">Smith Johnson</a></h4>
                  <span class="designation">Dermatologist</span>
                  <span class="share-icon-three fa fa-share-alt"></span>
                  <div class="social-links-three">
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-pinterest-p"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>

  </div>
</section>
