.section-banner {
  background-image: url("/assets/image/banner1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.content-banner{
  padding: 165px 0 176px;
  display: flex;
  justify-content: center;
}
.title-header-pander{
  color: white;
  font-size: 84px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 51px;
  font-family: "Quicksand", sans-serif;
}
.feature-content{
  display: flex;
  gap: 35px;
}
.hero-feature-box{
  display: flex;
  gap: 25px;
  > span{
    display: flex;
    flex-direction: column;
    font-family: var(--title-font);
    >h4{
      font-size: 24px;
      font-weight: 700;
      color: var(--theme-color);
      margin-bottom: 12px;
    }
    >p{
      line-height: 24px;
      font-size: 16px;
      font-weight: 500;
      color: var(--white-color);
    }
  }
}
