<h1>git ACtions ssssssssssssss</h1>
<section class="section-banner md:mt-[-30px]">
  <div class="flex justify-center">
    <div class="content-banner 1200px:justify-center w-[94%] 1280px:w-[90%] 1400px:w-5/6 md:pt-[100px] md:pb-[120px] py-[80px] 450px:py-[120px] items-center">

        <div class="450px:w-[88%] max-w-[675px] w-[95%] md:w-[90%] 1400px:w-[50%]">
            <h1 class="title-header-pander text-[40px] md:text-[84px] p" [@fadeInRightTrigger]="{ value: '', params: { delay: .1 } }">Your Health<br class="md:block hidden"> is Our Priority</h1>
            <div class="feature-content grid grid-cols-2 gap-6">

                <div class="hero-feature-box grid grid-cols-8 md:col-span-1 col-span-2 md:gap-0 sm:gap-3 1200px:gap-4" [@fadeInRightTrigger]="{ value: '', params: { delay: .2 } }">
                    <div class="icon md:col-span-2 450px:col-span-1 col-span-3"><img src="assets/image/Stethoscope.svg" class="max-w-full" alt=""></div>
                    <span class="md:col-span-6 450px:col-span-7 450px:ps-4 col-span-8 450px:pt-0 pt-3">
                    <h4 class="title-two">Regular Checkup</h4>
                    <p>There are many variations of <br class="450px:hidden">passages of the way.</p>
                </span>
                </div>

                <div class="hero-feature-box md:col-span-1 col-span-2 grid grid-cols-8 md:gap-0 1200px:gap-4" [@fadeInRightTrigger]="{ value: '', params: { delay: .3 } }">
                    <div class="icon md:col-span-2 450px:col-span-1 col-span-3"><img src="assets/image/banner7-3.svg" alt=""></div>
                <span class="md:col-span-6 450px:col-span-7 450px:ps-4 col-span-8 450px:pt-0 pt-3">
                    <h4 class="title-two">Always Available</h4>
                    <p>There are many variations of <br class="md:block hidden">passages of the way.</p>
                </span>
                </div>
                <div class="flex gap-4 w-max mt-3" [@fadeInUpTrigger]="{ value: '', params: { delay: .4} }">
                    <a href="#" class="text-[#27477d] transition-all duration-700
                    text-[22px] bg-[#fff] font-bold h-[51px] leading-[51px] px-[30px] rounded-full hover:bg-[#07CCEC] hover:text-[#fff]" tabindex="0">Our Service</a>
                    <a href="#" class="text-[#fff] text-[22px] transition-all duration-700
                     bg-[#07CCEC] font-bold h-[51px] leading-[51px] px-[30px] rounded-full hover:bg-[#000000]" tabindex="0">Meet medixi Doctor</a>
                </div>
            </div>
        </div>
        @if(isScreenSmall){
        <div class="md:hidden 1200px:block hidden 1200px:opacity-100 opacity-0 w-[55%]" [@fadeInRightTrigger]="{ value: '', params: { delay: .5 } }">
            <img src="./assets/image/banner1-1.png" class="w-full"/>
        </div>
      }
    </div>
  </div>
</section>
