.why-choose-content{
  background-image: url('/assets/image/why-clinic/why-choose1-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  padding: 130px 0px 245px 0px;
  display: flex;
  justify-content: center;
}
