<div class="container w-full max-w-[1170px] mx-auto px-[15px] hidden 1200px:flex flex-col">
    <div class="flex justify-between items-center">
        <span class="py-[.5rem]">
            <img src="./assets/image/logo.svg">
        </span>
        <div class="flex justify-end">
            <div class="flex items-center gap-6 border-e-[1px] border-[#07ccec] pe-[41px] me-[29px]">
                <span>
                    <img src="./assets/image/phone.svg">
                </span>
                <span class="flex justify-center flex-col">
                    <span class="text-[#878D97] text-[12px] leading-[19px] font-['Roboto']">Call Any Time</span>
                    <a href="#" class="text-[#27467C] font-bold text-[16px] font-['Roboto'] leading-4">+90 456 789 758</a>
                </span>
            </div>
            <div class="flex items-center gap-6 border-e-[1px] border-[#07ccec] pe-[41px] me-[29px]">
                <span>
                    <img src="./assets/image/email.svg">
                </span>
                <span class="flex justify-center flex-col">
                    <span class="text-[#878D97] text-[12px] leading-[19px] font-['Roboto']">Email</span>
                    <a href="#" class="text-[#27467C] font-bold text-[16px] font-['Roboto'] leading-4">{{'example@domain.com'}}</a>
                </span>
            </div>
            <div class="flex items-center gap-6">
                <span>
                    <img src="./assets/image/location.svg">
                </span>
                <span class="flex justify-center flex-col">
                    <span class="text-[#878D97] text-[12px] leading-[19px] font-['Roboto'] font-normal">Location</span>
                    <a href="#" class="text-[#27467C] font-bold text-[16px] font-['Roboto'] leading-4">{{'36D St, Brooklyn, NY.'}}</a>
                </span>
            </div>
        </div>
    </div>
    <div class="mt-[12px] rounded-full bg-[#07ccec] text-[#fff] ps-[10px] py-[10px] flex justify-between align-middle">
      <nav>
      <ul>
        <li class="mx-[18px] inline-block font-bold"><a>about</a><i class="fa-solid fa-chevron-down text-[12px]"></i></li>
        <li class="mx-[18px] inline-block font-bold"><a>home</a><i class="fa-solid fa-chevron-down text-[12px]"></i></li>
        <li class="mx-[18px] inline-block font-bold"><a>service</a><i class="fa-solid fa-chevron-down text-[12px]"></i></li>
        <li class="mx-[18px] inline-block font-bold"><a>blog</a><i class="fa-solid fa-chevron-down text-[12px]"></i></li>
        <li class="mx-[18px] inline-block font-bold"><a>pages</a><i class="fa-solid fa-chevron-down text-[12px]"></i></li>
        <li class="mx-[18px] inline-block font-bold"><a>contact</a><i class="fa-solid fa-chevron-down text-[12px]"></i></li>
      </ul>
    </nav>
    </div>
</div>
