<div class="container w-full max-w-[1170px] mx-auto">
    <div class="flex justify-between items-center">
        <span>
            <img src="./assets/image/logo.svg">
        </span>
        <div class="flex justify-end">
            <div class="flex items-center gap-6">
            <span>
                <img src="./assets/image/phone.svg">
            </span>
            <span>
                <span class="text-[#878D97] text-[12px] leading-5 font-sans">Call Any Time</span>
            </span>
        </div>
        </div>
    </div>
</div>