<section class="py-20">
  <div class="flex flex-wrap px-6">
    <div class="w-full 900px:w-1/2 900px:mb-0 mb-12">
      <img src="/assets/image/feedback/testi7-1.png" class="w-full">
    </div>
    <div class="w-full 900px:w-1/2">
      <div class="feed-back-carousal" title="feed-back">
        <div class="card-feed-back" title="feed-back-customer">
          <div class="flex flex-col px-3">
            <div>
              <span class="sub-title2">know what our clients says</span>
              <h2 class="title1 text-[36px]">made the reviews for out clients share with you</h2>
            </div>
            <ul class="rating-list">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
            </ul>
            <p class="mb-4 text-[#888c92] text-[20px] font-normal leading-10 not-italic">I have been hiring people in this space for a number of years and
              I have never seen this level of professionalism. It really feels like you are
              working with a team that can get the job done.
            </p>
            <div class="flex justify-between">
            <div class="flex gap-8 items-center">
              <div class="author-img">
                  <img src="/assets/image/feedback/testi7-2.png" alt="">
              </div>
              <div class="flex flex-col">
              <h6 class="title1 text-[24px]">John Smith</h6>
              <span class="designation">CEO</span>
            </div>
          </div>
          <span>
            <button class="button-arrow"></button>
            <button class="button-arrow"></button>
          </span>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
