:root{
    --theme-color: #07ccec;
    --body-font: "Roboto", sans-serif;
    --white-color: #fff;
    --title-font: "Quicksand", sans-serif;
    --subtitle-font: "Dancing Script", cursive;
    --title-color: #27477d;
}
